.container, .container-fluid {
  background-color: gray;
}

.row {
  margin-bottom: 20px;
  box-sizing: border-box;
}

header, main, footer {
  background-color: aqua;
  border: 1px solid #c0c0c0;
  font-size: 50px;
  padding: 10px 0;
  text-align: center;
}

main {
  background-color: white;
}

@media screen and (max-width: 1920px) {
  main {
    height: 70vh;
  }
}

@media screen and (max-width: 980px) {
  main {
    height: 60vh;
  }
}

@media screen and (max-width: 520px) {
  main {
    height: 50vh;
  }
}

@media screen and (max-width: 360px) {
  main {
    background-color: var(--bs-warning);
  }
}