.container, .container-fluid {
  background-color: wheat;
  opacity: 80%;
}

#HHLogo{
  border-top: 10px;
}

.modal{
  width: 300px;
}

.modal-content{
  width: 300px;
}

.list-group-item:hover
{
  background-color: aqua!important;
}

.navbar-toggler{
  border: none;
}

.navbar-brand{
}