.container, .container-fluid {
  background-color: grey;
  opacity: 80%;
}

.modal{
  width: 300px;
}

.modal-content{
  width: 300px;
}

.list-group-item:hover
{
  background-color: aqua!important;
}

.navbar-toggler{
  border: none;
}

#carouselHomePage{
  padding: 0px 15px 0px 15px;
  margin-top: 15px;
}

@media screen {
  
}